# Auth
GITFLEET_PROFILE=default
GITFLEET_GITHUB_TOKEN=
GITFLEET_GITLAB_TOKEN=
GITFLEET_CREDENTIAL_STORE=keyring
GITFLEET_TRUST_REPO_CONFIG=false

# Process
# GITFLEET_CI=
# GITFLEET_LOG=
# GITFLEET_HOME=
# GITFLEET_TERM=
# GITFLEET_NO_COLOR=
# GITFLEET_COLORTERM=
# GITFLEET_COLORFGBG=

# Playbook
GITFLEET_PLAYBOOK_ORG=
GITFLEET_PLAYBOOK_REPO=
GITFLEET_PLAYBOOK_SKIP=
GITFLEET_PLAYBOOK_TMPDIR=
GITFLEET_PLAYBOOK_RUN_ID=local
GITFLEET_PLAYBOOK_PARALLEL=0
# GITFLEET_PLAYBOOK_WEBHOOK_URL=
GITFLEET_PLAYBOOK_TEST_REPO_OWNER=
GITFLEET_PLAYBOOK_TEST_REPO_OWNER_TYPE=
